.footer {
  background-color: $color-black-pearl;

  [data-accordion="content"] {
    @media (min-width: 768px) {
      overflow: initial;
    }
  }

  .is-active > [data-accordion="content"] {
    overflow: initial;
  }
}

.footer__container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(1220px + 64px);
  padding: 50px 73px 50px 31px;
  width: 100%;

  @include vp-1023 {
    flex-wrap: wrap;
    padding: 50px 50px 65px;
  }

  @include vp-767 {
    gap: 30px;
    padding: 0;
    padding-top: 35px;
  }
}

.footer__accordion {
  @include vp-767 {
    width: 100%;
    max-width: none;
    overflow: hidden;
  }
}

.footer__nav-list-wrapper {
  display: flex;
  column-gap: 28px;
  max-width: 470px;

  @include vp-1023 {
    flex-direction: column;
  }
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 220px;

  @include vp-767 {
    width: 100%;
    max-width: none;
  }
}

.footer__nav-item {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  break-inside: avoid;

  &:nth-child(3n) {
    break-after: avoid-column;
  }
}

.footer__nav-item a {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 22px;
  color: rgba($color-default-white, 0.7);

  @include hover-focus {
    color: rgba($color-deep-sky-blue, 0.7);
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.footer__contacts-item {
  margin-bottom: 6px;

  a {
    line-height: 22px;
    color: rgba($color-default-white, 0.7);

    @include hover-focus {
      color: rgba($color-deep-sky-blue, 0.7);
    }

    &:active {
      opacity: 0.5;
    }
  }
}
