.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  color: $color-alice-blue;
  background: $bg-black-pearl;

  @include vp-1023 {
    position: absolute;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-right: 5.2%;
  align-items: flex-start;

  @include vp-1023 {
    padding-top: 10px;
    padding-bottom: 33px;
  }

  @include vp-767 {
    padding-right: 35px;
    padding-bottom: 11px;
  }
}

.header__logo {
  display: block;
  width: 215px;
  height: 55px;

  @include vp-1023 {
    padding-top: 10px;
  }

  @include vp-767 {
    width: 55px;
    padding-right: 20px;
    padding-top: 15px;
  }
}

.header__contacts {
  display: grid;
  grid-template-columns: repeat(2, minmax(225px, 1fr));
  column-gap: 6%;
  width: 40%;
  margin-right: 0 auto;
  padding-top: 13px;
  box-sizing: border-box;

  @include vp-1439 {
    width: 50%;
  }

  @include vp-1023 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    max-width: none;
    width: auto;
    gap: 0;
    padding: 0;
  }
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;

  @include vp-1023 {
    padding: 20px 10px;
    margin-right: 20px;
  }

  @include vp-767 {
    &:last-child {
      margin-right: 0;
    }
  }

  @include hover-focus {
    color: $color-deep-sky-blue;
    filter: drop-shadow(0 0 3px $color-deep-sky-blue);
  }

  &:active {
    opacity: 0.7;
  }
}

.header__contacts-icon {
  margin-right: 13px;

  @include vp-1023 {
    margin: 0;
  }
}

.header__contacts-content {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  min-width: 160px;
  padding: 8px 10px 13px;
  margin-top: 6px;

  @include vp-1023 {
    display: none;
  }

  @include hover-focus {
    color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;
    filter: drop-shadow(0 0 3px $color-deep-sky-blue);
  }

  &:active {
    opacity: 0.7;
  }
}
