[data-accordion="element"].is-active > [data-accordion="content"] {
  max-height: 100%;
  overflow: initial;
}

[data-accordion="parent"].no-transition [data-accordion="content"] {
  transition: none;
}

[data-accordion="content"] {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;

  &.no-js {
    max-height: 100%;
  }
}

[data-about-accordion="mobile"] {
  display: inline;

  @include vp-767 {
    display: none;
  }
}
